[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
bandit = "*"
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"

[packages]
aiofiles = "*"
aiohttp = "*"
jupyter = "*"
jupyter-http-over-ws = "*"
pycuda = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
