[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
ipython = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"

[packages]
aiofiles = "*"
aiohttp = "*"
pycuda = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
